body {
    margin: 0;
    padding: 0;
    background-color: #113f67;
}

img {
    max-width: 500px;
    max-height: 500px;
}

#front {
    margin: 7em;
    padding: 25px;
    background-color: #e7eaf6;
    border-radius: 25px;
    box-shadow:0px 0px 10px 1px rgb(56, 55, 55);
    border: solid 2px #38598b;
}

.menuTitle {
    text-align: center;
}

.menuList {
    justify-content: center;
    display: flex;
    padding: 0;
    flex-direction: row;
    list-style: none;
}

.menuItem button {    
    margin-left: 20px;
    padding: 5px;
    background-color: #38598b;
    color: #e7eaf6;
    border-radius: 10px;
    border: solid 1px black;
}

.menuItem button:hover {
    background-color: #020f6e;
}

#content {
    border-top: solid 1px black;
}

.contentTitle {
    text-align: center;
}

.contentPage {
    justify-content: center;
    text-align: center;
    display: none;
}

.active {
    display: block;
}

