:root {
    --main-color: rgb(223, 207, 206);
    --second-color: rgb(99, 95, 153);
    --bg-color: rgb(31, 54, 129);
}

.numGuessing {
    display: block;
    position: relative;
    margin: 20px auto;
    padding: 20px;
    width: fit-content;
    background-color: var(--bg-color);
    border-radius: 25px;
    transition: 1s;
    align-content: center;
    box-shadow: 1px 1px 5px 1px rgb(0, 0, 0, .5);

    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    text-align: center;
}

.numGuessing p {
    color: white;
    font-size: large;
}

.gridNumGame {
    display: grid; 
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 1fr;
    padding: 10px;
    gap: 10px;
    justify-content: center;
}

.numCell {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50px;
    width: 50px;
    background-color: var(--second-color);
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, .2);
    color: rgb(221, 214, 214);
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: normal;
    font-size: x-large;
    pointer-events: none;
    margin: auto;
}

@keyframes jumpScale {
    50% {transform:translateY(-6px); scale: 1.15; }
    }

@keyframes jump {
    50% {transform:translateY(-3px);}
    }

.numCell.activeCell {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50px;
    width: 50px;
    background-color: var(--main-color);
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, .3);
    color: var(--bg-color);
    font-size: xx-large;
    pointer-events: all;
    animation-name: jump;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 3;
}

.correctPosNum {
 background-color: #8fd624;
 color: var(--bg-color);
 animation-name: jumpScale;
 animation-duration: .5s; 
 animation-iteration-count: 1;
 animation-timing-function: ease-in-out; 
}

.correctNum {
    background-color: #cdcf32;
    color: var(--bg-color);    
    animation-name: jump;
    animation-duration: .5s; 
    animation-iteration-count: 1;    
    animation-timing-function: ease-in-out;
}

.numberGameButton {
    background-color: var(--main-color);
    color: var(--bg-color);
    cursor: pointer;
    user-select: none;
    transition: .2s;
    margin: auto;
    width: 70%; 
}

.numberGameButton:active {
    scale: 1.05;
    transition: .2s;
}

.numberGameEnd {
    display: flex;
    padding: 10px;
    margin: auto;
    gap: 10px;
    width: min-content;

}

.numberGameStartBtn {
    min-width: 50px;
    width: 100%;
} 

.numberGameEnd > input {
 min-width: 25px;
 width: 100%;
 border: none;
 outline: none;
 background-color: var(--second-color);
 color: var(--main-color);
 text-align: center;
}

.numberGameEnd > label {
    color: var(--main-color);
}


@keyframes jumpWin {
    0%  {background-color: #f5be26;}
    50% {transform:translateY(-6px); scale: 1.1; background-color: #24d633;}
    100%  {background-color: #f5be26;}
    }
    
@keyframes jumpLose {
    50% {transform:translateY(3px); scale: 1.1;}
    }

.numberGameResultWin {
    background-color: #8fd624;
    color: var(--bg-color);    
    animation-name: jumpWin;
    animation-duration: 1s; 
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}


.numberGameResultLose {
    background-color: #d63024;
    color: var(--main-color);  
    animation-name: jumpLose;
    animation-duration: 2.5s; 
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out; 
}