* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Oswald';
    font-style: normal;
}

body {
    background-color: #292A2E;
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    
}

button, input {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

p {
    padding: 0;
    margin: 0;
}

a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
}

.card-element {
    background-color: #F2F1E9;
    border-radius: 25px;
    box-shadow: -10px 10px 20px -10px rgba(0,0,0,0.75);
    transition: .5s;    
    overflow: hidden;
}

.card-blue {
    background-color: #024AE5;    
    color: #F2F1E9;
}

.card-blank {
    background: none;
    box-shadow: none;
}

.wrapper {    
    max-width: 1300px;
    margin: auto;
}

header {
    margin: 20px auto;
}

.header__grid {
    height: 250px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    margin: auto;
}

.header__element {
    min-width: 100px;
}

.header__element:nth-child(1) {
    grid-column: span 2;
}

.header__element:nth-child(2) {
    grid-column: span 2;
    grid-row: span 2;
}

.chat {
    height: 100%;
    width: 100%;
    color: #F2F1E9;
}

.chat__screen {
    margin: 20px auto;
    height: 60%;
    width: 94%;
    border-bottom: 1px solid #F2F1E9; 
    border-radius: 25px;
}

.chat__name {
    width: 20%;
    margin-left: 20px;
}

.chat__input {
    width: 60%;    
    margin-right: 20px;
}

.nav {
    height: 25px;
    margin-top: 20px;
}

.nav__main {
    display: flex;
    text-align: left;
    align-items: center;
    margin-left: 10px;
}

.nav__element {
    display: flex;
    margin-left: 10px;
    align-items: center;
}

.nav__element::before {
    display: block;
    content: '';
    height: 10px;
    width: 10px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #024ae5;
    float: left;
}

.basic {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
}

.basic__box {
    position: relative;
    min-height: 150px;
    min-width: 150px;
    display: flex;    
    text-align: center;
    justify-content: center;
    align-items: center;
    user-select: none;
    overflow: hidden;
    font-size: large;
    font-weight: 700;
}

.basic__box.big {
    display: flex;
    background-image: linear-gradient(rgba(216, 26, 26, 0) 0%, rgba(2, 74, 229, 1) 80%), 
    url(https://www.in2code.de/fileadmin/_processed_/0/b/csm_code_javascript_49d002a67e.webp);
    background-size: cover;
    background-position: center;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 30px;
    color: #F2F1E9;
    position: relative;
}

.big > h3 {    
    align-self: flex-start;
    margin: 40px 40px;
    font-size: xx-large;
    z-index: 1;
    position: relative;
}

.big > p {    
    position: relative;
    font-size: small;
    font-weight: 300;
    bottom: 20px;
    z-index: 1;
}

.bigLink {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.basic__box.calculator {
    background-image: linear-gradient(rgba(216, 26, 26, 0) 0%, rgba(242, 241, 233, 1) 50%), 
    url(https://media.geeksforgeeks.org/wp-content/uploads/20230219213349/calculator.jpg);
    background-size: cover;
    background-position: center;
}

.basic__box.numberGuessing {
    background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(242, 241, 233, 1) 50%), 
    url(https://op.ua/images/common/4/3/8/2/5ff2ff74acb12.png);
    background-size: cover;
    background-position: center;
}

.basic__box.passwordGenerator {
    background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(242, 241, 233, 1) 50%), 
    url(https://online.champlain.edu/sites/online/files/styles/width_1600/public/2021-08/blog_header-_when_is_a_password_good_-_1900x900.jpg?itok=SRx8bc9f);
    background-size: cover;
    background-position: center;
}

.basic__box.quiz {
    background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(242, 241, 233, 1) 50%), 
    url(https://thumbs.dreamstime.com/b/male-hand-holding-megaphone-quiz-time-speech-bubble-loudspeaker-banner-business-marketing-advertising-vector-125104939.jpg);
    background-size: cover;
    background-position: center;
}

.basic__box.ticTacToe {
    background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(242, 241, 233, 1) 50%), 
    url(https://play-lh.googleusercontent.com/5ENdgpFsRhQt9y_ySp9UK_p-CL0TmhSwW5pKmmzzIW0OLFR3EvAtzAGm6c_IkkfgVg);
    background-size: cover;
    background-position: center;
}

.basic__box.snakeGame {
    background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(242, 241, 233, 1) 50%), 
    url(https://play-lh.googleusercontent.com/S9ZmNx5LYCj7h2IJZb0QqkXAGki6JRaMQ25ycKfrngDkNBA6jk7rM87YcAH1prV_OA);
    background-size: cover;
    background-position: center;
    background-position-y: 20%;
}

.basic__box.gallery {
    background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(242, 241, 233, 1) 50%), 
    url(https://onecms-res.cloudinary.com/image/upload/s--eMBxXhRK--/f_auto,q_auto/c_fill,g_auto,h_622,w_830/v1/tdy-migration/15073662-gallery-photo-interior-2-data.jpg?itok=NH_Jjwju);
    background-size: cover;
    background-position: center;
}

.basic__box.sorting {
    background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(242, 241, 233, 1) 50%), 
    url(https://www.crio.do/blog/content/images/2022/02/Sorting-Algorithms.png);
    background-size: cover;
    background-position: center;
}

.basic__box.weather {
    background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(2, 74, 229, 1) 50%), 
    url(https://images.nationalgeographic.org/image/upload/t_edhub_resource_key_image/v1638886301/EducationHub/photos/lightning-bolts.jpg);
    background-size: cover;
    background-position: center;
}

.basic__box.currency {
    background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(2, 74, 229, 1) 50%), 
    url(https://theraise.eu/wp-content/uploads/2023/08/shutterstock-367050494.jpg);
    background-size: cover;
    background-position: center;
}

.basic__box:nth-child(1) {
    grid-column: span 2;
    grid-row: span 2;
}

.basic__box:nth-child(2),
.basic__box:nth-child(3),
.basic__box:nth-child(4),
.basic__box:nth-child(5),
.basic__box:nth-child(6),
.basic__box:nth-child(9),
.basic__box:nth-child(10),
.basic__box:nth-child(11) {
    grid-column: span 2;
}

.basic__box .card-element {
    position: relative;
}

.basic__box-link {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    position: absolute;
}

.container .card-element:hover:not(.dice) {
    transform: scale(1.02);
    transition: .5s;
}

#timer {
    height: 100%;
    padding: 12% 0;
    color: #F2F1E9;
    text-align: center;
    user-select: none;
}

.time-zone {
    font-size: small;
    font-weight: 100;
}

.time-remaining {
    font-size: x-large;
    font-weight: 700;
}

@keyframes roll {
    25% {transform: rotate(600deg) scale(40%);}
    50% {transform: rotate(1000deg) scale(50%);}
    100% {transform: rotate(1800deg) scale(100%);}
}

.dice-roll {
    transition: 1s;
    animation-name: roll;
    animation-duration: 1.5s;
    animation-timing-function: linear;
}

.dice > p {
    position: absolute;
}

.dice__points {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    grid-template-areas: 
        "d1 d2 d3"
        "d4 d5 d6"
        "d7 d8 d9";
    gap: 20px;
}

.dice__point {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #292A2E;
}

.dice__point.d1 {grid-area: d1;}
.dice__point.d2 {grid-area: d2;}
.dice__point.d3 {grid-area: d3;}
.dice__point.d4 {grid-area: d4;}
.dice__point.d5 {grid-area: d5;}
.dice__point.d6 {grid-area: d6;}
.dice__point.d7 {grid-area: d7;}
.dice__point.d8 {grid-area: d8;}
.dice__point.d9 {grid-area: d9;}

.advanced {
    min-height: 400px;
    width: 100%;
    border: 1px solid #F2F1E9;
    border-radius: 25px;
    margin: 20px auto;
    align-items: center;
    justify-content: center;
    display: flex;
}

.advanced > p {
    color: #F2F1E9;
    font-weight: 800;
    font-size: xx-large;    
}

.contentPage {
    display: none;
}

.contentPage.active {
    display: block;
}

.container__pages {
    width: 100%;
    display: grid;
    gap: 7px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.container__pages .page {
    display: flex;
    height: 60px;
    min-width: 100px;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    transition: .5s;
    overflow: hidden;
}

@keyframes rotate {
    0%   {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

.page.active::before {
    content: '';
    padding-top: 100%;
    width: 20%;
    background-color: #F2F1E9;
    animation-name: rotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    position: absolute;
}

.page.active::after {
    content: '';
    background-color: #024AE5;
    inset: 2px;
    position: absolute;
    border-radius: 25px;
    transition: 1s;
}

.page a {
    inset: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
}

.page p {
    z-index: 1;
}

.page.active {
    background-color: #024AE5;
    color: #F2F1E9;
    position: relative;
}

.block-one {
    min-height: 400px;
    width: 100%;
    border: 1px solid #F2F1E9;
    border-radius: 25px;
    margin: 20px auto;
    align-items: center;
    justify-content: center;
    display: flex;
}